@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.custom-input {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  padding: 8px;
  margin: 6px 4px;
}

.custom-input:focus {
  outline: none !important;
  border: 1px solid rgb(89, 54, 208);
  box-shadow: 0 0 10px #719ECE;
}

.btn {
  padding: 10px 18px;
  background-color: blue;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

/* .dropdown{
  padding: 8px 15px;
  background-color: #282c34;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  margin: 6px 4px;
} */

.dropdown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  background-color: white;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #E5E8EC;
  display: none;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91A5BE;
  transition: all .2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.btn:hover {
  background-color: rgb(91, 91, 243);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.toastify {
  padding: 12px 20px;
  color: #fff;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .12), 0 10px 36px -4px rgba(77, 96, 232, .3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  opacity: 0;
  transition: all .4s cubic-bezier(.215, .61, .355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647
}

.toastify.on {
  opacity: 1
}

.toast-close {
  opacity: .4;
  padding: 0 5px
}

.toastify-right {
  right: 15px
}

.toastify-left {
  left: 15px
}

.toastify-top {
  top: -150px
}

.toastify-bottom {
  bottom: -150px
}

.toastify-rounded {
  border-radius: 25px
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content
}

@media only screen and (max-width:360px) {

  .toastify-left,
  .toastify-right {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content
  }
}